USE [master]
GO
/****** Object:  Database [CEPLAN_TestDB]    Script Date: 7/2/2026 10:29:37 AM ******/
CREATE DATABASE [CEPLAN_TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CEPLAN_TestDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CEPLAN_TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CEPLAN_TestDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CEPLAN_TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CEPLAN_TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CEPLAN_TestDB]
GO
/****** Object:  Table [dbo].[ProfileDetails]    Script Date: 7/2/2026 10:29:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[FirstLastName] [varchar](100) NOT NULL,
	[SecondLastName] [varchar](100) NOT NULL,
	[JobTitle] [varchar](150) NULL,
	[Institution] [varchar](150) NULL,
	[BirthDate] [date] NULL,
	[Nationality] [varchar](50) NOT NULL,
	[Gender] [varchar](20) NULL,
	[PrimaryEmail] [varchar](150) NOT NULL,
	[SecondaryEmail] [varchar](150) NULL,
	[MobilePhone] [varchar](20) NULL,
	[SecondaryPhone] [varchar](20) NULL,
	[ContractType] [varchar](50) NULL,
	[HireDate] [date] NULL,
 CONSTRAINT [PK_ProfileDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2026 10:29:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentType] [varchar](10) NOT NULL,
	[DocumentNumber] [varchar](20) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FailedAttempts] [int] NOT NULL,
	[LockoutEnd] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProfileDetails] ON 

INSERT [dbo].[ProfileDetails] ([Id], [UserId], [FirstName], [FirstLastName], [SecondLastName], [JobTitle], [Institution], [BirthDate], [Nationality], [Gender], [PrimaryEmail], [SecondaryEmail], [MobilePhone], [SecondaryPhone], [ContractType], [HireDate]) VALUES (1, 1, N'July Camila', N'Mendoza', N'Quispe', N'Administrador de Recursos', N'Ofi Ministerio de Salud', CAST(N'1944-04-15' AS Date), N'Peruana', N'Femenino', N'test@minsa.gob.p', NULL, N'+51 999 999 999', NULL, N'CAS', CAST(N'2015-03-09' AS Date))
SET IDENTITY_INSERT [dbo].[ProfileDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [DocumentType], [DocumentNumber], [PasswordHash], [FailedAttempts], [LockoutEnd], [IsActive]) VALUES (1, N'DNI', N'07079079', N'password123', 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Document]    Script Date: 7/2/2026 10:29:38 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_User_Document] UNIQUE NONCLUSTERED 
(
	[DocumentType] ASC,
	[DocumentNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProfileDetails] ADD  DEFAULT ('Peruana') FOR [Nationality]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [FailedAttempts]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProfileDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProfileDetails_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileDetails] CHECK CONSTRAINT [FK_ProfileDetails_Users]
GO
USE [master]
GO
